<div class="home-page">

  <div class="banner" >
    <div class="container  row-simple" style="margin-top: 10vh;">
      <div class="col-xs-12 col-lg-6 offset-lg-3">
        <h2 class="text-xs-center">Trouble signing in?</h2>
        <p style="text-align: justify;">Type your new password</p>
        <form [formGroup]="newPasswordForm" (ngSubmit)="submitForm()">
          <fieldset  style="margin-top: 36px;">
            <fieldset class="form-group">
              <label>New Password: </label>
              <input
                formControlName="newPassword"
                class="form-control"
                type="password"
                placeholder="New Password"
                 />
                 <div *ngIf="newPasswordForm.controls['newPassword'].hasError('required') && newPasswordForm.controls['newPassword'].touched || invalid" class="alert alert-danger">New password is required.</div>
            </fieldset>
            <button class="col-12 btn btn-lg pull-xs-right" type="submit" [disabled] = "!newPasswordForm.valid" style="background-color: white;color: green;margin-top: 12px;">
              Submit
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

