<div class="col-12 new-post-content">

    <div class="new-post">

      <textarea style="width: 100%;height: 100%;border: none;resize: none;border: none;
      overflow: auto;
      outline: none;
  
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;" placeholder="Share a message or image"></textarea>

    </div>
    <div class="row-simple  new-post-buttons">
      <div class="col-5 col-md-3 new-post-btn-image">
          <img src="../../../assets/icons/Icons/Camera.png"> Image
      </div>
      <div class="col-5 offset-2 col-md-3 offset-md-6 new-post-div-submit text-right">

        <button type="button" class="col-12 new-post-btn-submit">Post</button>

      </div>

    </div>

  </div>