<div class="container gallery" style="padding: 0;">

  <div class="container " style="padding: 0;">

    <div class="row-simple col-12 moderation-menu">
      <a routerLink="/profile/settings/premium" class="col-3">
        Premium
      </a>
      <a routerLink="/profile/settings/edit" class="col-3">
        Edit Profile
      </a>
      <a routerLink="/profile/settings/privacy" class="col-3">
          Privacy
      </a>
      <a routerLink="/profile/settings/account" class="col-3">
          Account Informations
      </a>
        
    </div>
    <div class="col-12 moderation-content">
        <router-outlet></router-outlet>
    </div>

  </div>

</div>
