<div class="container gallery" style="padding: 0;">


  <div class="div-photos row-without-padding">
    <div *ngIf="!photos" class="div-no-photos">
      The user hasn't any photos.
    </div>

    <div class=" col-12 row-without-padding" style="background-color: #cce5ff;align-content: center; margin:0 auto;">
      <div class="photo-gallery" style="background-size: contain ;background-image: url(../../../assets/img/dog-user.jpg);"></div>
      <div class="photo-gallery" style="background-size: contain ;background-image: url(../../../assets/img/background-3062011_640.jpg);"></div>
      <div class="photo-gallery" style="background-size: contain ;background-image: url(../../../assets/img/crocus-2145543_640.jpg);"></div>
      <div class="photo-gallery" style="background-size: contain ;background-image: url(../../../assets/img/mammals-3218028_640.jpg);"></div>
      <div class="photo-gallery"><img style="width: 100%;max-height: 100%;" src="../../../assets/img/mammals-3218028_640.jpg" ></div>
      <div class="photo-gallery"></div>
      <div class="photo-gallery"></div>
      <div class="photo-gallery"></div>

    </div>
  </div>

</div>
