<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Project HFX</a>

    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse" style="margin-top: 12px;">
      <ul class="navbar-nav mr-auto" >

      </ul>
      <app-auth-page></app-auth-page>
    </div>

  </div>
</nav>
